on property:ro.modemloader.done=1
    start cpboot-daemon
    start ril-daemon

on property:persist.sys.cpboot=disable
    stop ril-daemon
    stop cpboot-daemon

on property:sys.mobicoredaemon.enable=true
    start cs_service

#************************************************* Boot Completed ***********************************************************************#
on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 100
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "50 450000:50 800000:65 1500000:80 1800000:95"

on property:sys.boot_completed=1 && property:sys.logbootcomplete=1
    start init_d
    start v4afx

# Start fbind
    start fbind

# Start spen process
    start spen

on property:lineage.sysinit.completed=1 && property:lineage.fsmbind.completed=1
    start selinuxset

#*********************** Kick watchdogd if debug_level is low *****************************************************************************#
on property:ro.debug_level=0x4f4c
    start watchdogd
#**************************************************CPU Setting *****************************************************************************#
on property:cpu.temp.read=500
# Exynos Thermal throttling
    write /sys/class/thermal/thermal_zone0/oneshot_trip_temp "54 60 84"
    write /sys/class/thermal/thermal_zone0/oneshot_trip_freq "1800 1600 1400 600"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1900000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "1500000"

on property:cpu.temp.read=550
# Exynos Thermal throttling
    write /sys/class/thermal/thermal_zone0/oneshot_trip_temp "57 68 84"
    write /sys/class/thermal/thermal_zone0/oneshot_trip_freq "1700 1500 1200 600"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1900000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "1400000"

on property:cpu.temp.read=580
    write /sys/class/thermal/thermal_zone0/oneshot_trip_temp "60 70 89"
    write /sys/class/thermal/thermal_zone0/oneshot_trip_freq "1600 1400 1100 400"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1800000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "1300000"

on property:cpu.temp.read=620
    write /sys/class/thermal/thermal_zone0/oneshot_trip_temp "64 80 92"
    write /sys/class/thermal/thermal_zone0/oneshot_trip_freq "1500 1300 1000 400"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1700000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "1200000"

on property:cpu.temp.read=660
    write /sys/class/thermal/thermal_zone0/oneshot_trip_temp "68 81 95"
    write /sys/class/thermal/thermal_zone0/oneshot_trip_freq "1400 1200 900 400"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1600000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "1100000"

on property:cpu.temp.read=700
    write /sys/class/thermal/thermal_zone0/oneshot_trip_temp "72 82 89"
    write /sys/class/thermal/thermal_zone0/oneshot_trip_freq "1300 1100 800 400"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1400000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "1000000"

on property:cpu.temp.read=740
    write /sys/class/thermal/thermal_zone0/oneshot_trip_temp "76 84 92"
    write /sys/class/thermal/thermal_zone0/oneshot_trip_freq "1200 1000 700 400"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1300000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "700000"

on property:cpu.temp.read=780
    write /sys/class/thermal/thermal_zone0/oneshot_trip_temp "80 90 95"
    write /sys/class/thermal/thermal_zone0/oneshot_trip_freq "1100 700 500 400"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1200000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "250000"

on property:cpu.governor.set=interactive
    # Interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

    # Tune Interactive
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1000000:80000 1200000:100000 1700000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 40000
    write /sys/devices/system/cpu/cpufreq/interactive/enforced_mode 1
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 600000
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/mode 0
    write /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load 360
    write /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time 99000
    write /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load 240
    write /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time 299000
    write /sys/devices/system/cpu/cpufreq/interactive/param_index 0
    write /sys/devices/system/cpu/cpufreq/interactive/single_enter_load 95
    write /sys/devices/system/cpu/cpufreq/interactive/single_enter_time 199000
    write /sys/devices/system/cpu/cpufreq/interactive/single_exit_load 60
    write /sys/devices/system/cpu/cpufreq/interactive/single_exit_time 99000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "70 600000:70 800000:75 1500000:80 1700000:90"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 20000

on property:cpu.governor.set=performance
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance

on property:cpu.governor.set=conservative
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative

on property:cpu.governor.set=powersave
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

#********************************************USB Configuration******************************************************************************#
on property:sys.usb.config=none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0

on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6860
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6860
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6863
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6864
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/bDeviceClass 224
    start adbd
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6865
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6866
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    start adbd
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,dm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6862
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,acm,dm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6862
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 685B
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 685E
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    start adbd
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 685E
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# Askon Mode : VZW required

on property:sys.usb.config=askon
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=askon,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# rndis,acm,diag and diag,acm,adb used for Hidden Menu

on property:sys.usb.config=rndis,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6862
    write /sys/class/android_usb/android0/f_diag/clients diag_mdm
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,acm,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6860
    write /sys/class/android_usb/android0/f_diag/clients diag_mdm
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    start adbd
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6860
    write /sys/class/android_usb/android0/f_diag/clients diag_mdm
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,acm,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6864
    write /sys/class/android_usb/android0/f_diag/clients diag_mdm
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,conn_gadget
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6860
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,conn_gadget,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6860
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    start adbd
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

#********** TWRP ******************

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable ${service.adb.root}
    start adbd
    setprop sys.usb.state ${sys.usb.config}
