on charger
    chmod 0664 /sys/class/power_supply/battery/batt_capacity_max
    chown system radio /sys/class/power_supply/battery/batt_capacity_max
    class_start charger

# Set cpu governor to powersave while in charging mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor powersave

# EHCI runtime enable for LPA
    write /sys/devices/platform/s5p-ehci/power/control auto

    mkdir /data/log 0775
    chmod 0666 /dev/log/radio
    chmod 0666 /dev/log/main
    chmod 0666 /dev/log/event

    ifup lo
    hostname localhost
    domainname localdomain

