r_dir_file(hal_wifi_default, wifi_efs_file)

allow hal_wifi_default efs_file:dir search;
allow hal_wifi_default sysfs_wifi_writeable:file w_file_perms;
allow hal_wifi_default wifi_data_file:file r_file_perms;
#avc : denied { write } for comm=android.hardwar name=trace_marker dev=debugfs ino=305 scontext=u:r:hal_wifi_default:s0 tcontext=u:object_r:debugfs:s0 tclass=file permissive=1
#avc : denied { open } for comm=android.hardwar name=trace_marker dev=debugfs ino=305 scontext=u:r:hal_wifi_default:s0 tcontext=u:object_r:debugfs:s0 tclass=file permissive=1
allow hal_wifi_default debugfs:file { open write };
allow hal_wifi_default system_data_file:file read;
