#avc: denied { search } for comm="hwservicemanage" name="2990" dev="proc" ino=3909 scontext=u:r:hwservicemanager:s0 tcontext=u:r:init:s0 tclass=dir permissive=1
#allow hwservicemanager init:dir { search };
#avc: denied { read } for comm="hwservicemanage" name="current" dev="proc" ino=3986 scontext=u:r:hwservicemanager:s0 tcontext=u:r:init:s0 tclass=file permissive=1
#avc: denied { open } for comm="hwservicemanage" name="current" dev="proc" ino=5950 scontext=u:r:hwservicemanager:s0 tcontext=u:r:init:s0 tclass=file permissive=1
#allow hwservicemanager init:file { open read getattr };
#avc: denied { getattr } for comm="hwservicemanage" scontext=u:r:hwservicemanager:s0 tcontext=u:r:init:s0 tclass=process permissive=1
#allow hwservicemanager init:process { getattr };
#avc: denied { read } for comm="hwservicemanage" name="gpsd" dev="mmcblk0p18" ino=3478 scontext=u:r:hwservicemanager:s0 tcontext=u:object_r:gpsd_exec:s0 tclass=file permissive=1
#avc: denied { getattr } for comm="hwservicemanage" path="/system/vendor/bin/hw/gpsd" dev="mmcblk0p18" ino=3478 scontext=u:r:hwservicemanager:s0 tcontext=u:object_r:gpsd_exec:s0 tclass=file permissive=1
#allow hwservicemanage gpsd_exec:file { open read getattr };
