# exfat external sd card
allow untrusted_app exfat:file read;
# ttySAC2
#avc: denied { write } for comm="sh" path="/dev/ttySAC2" dev="tmpfs" ino=3457 scontext=u:r:shell:s0 tcontext=u:object_r:device:s0 tclass=chr_file permissive=1
#avc: denied { read } for comm="sh" path="/dev/ttySAC2" dev="tmpfs" ino=3457 scontext=u:r:shell:s0 tcontext=u:object_r:device:s0 tclass=chr_file permissive=1
allow shell device:chr_file { open read write setattr getattr ioctl };

# SU
allow shell su:process signal;

# exFAT and fuseblk
allow shell exfat:dir create_dir_perms;
allow shell exfat:file create_file_perms;
#allow shell fuseblk:dir create_dir_perms;
#allow shell fuseblk:file create_file_perms;
#avc : denied { getattr } for comm=sh path=/system/vendor/bin/hw/gpsd dev=mmcblk0p18 ino=3478 scontext=u:r:shell:s0 tcontext=u:object_r:gpsd_exec:s0 tclass=file permissive=1
#avc : denied { read } for comm=sh name=gpsd dev=mmcblk0p18 ino=3478 scontext=u:r:shell:s0 tcontext=u:object_r:gpsd_exec:s0 tclass=file permissive=1
allow shell gpsd_exec:file { read getattr };
