# OTG / NTFS
allow fsck_untrusted {
    vold_device
    emmcblk_device
    }:blk_file { ioctl getattr };
allow fsck_untrusted {
    proc_swaps
    gpsd_exec
    }:file { open read getattr };
allow fsck_untrusted {
    media_rw_data_file
    }:dir { getattr };
