# /dev/block/mmcblk0p3
allow fsck {
    block_device
    emmcblk_device
    efs_block_device
    }:blk_file { open read write getattr ioctl };

allow fsck gpsd_exec:file { open read getattr };
 
