#avc : denied { getattr } for comm=gatekeeperd path=/system/vendor/bin/hw/gpsd dev=mmcblk0p18 ino=3478 scontext=u:r:gatekeeperd:s0 tcontext=u:object_r:gpsd_exec:s0 tclass=file permissive=1
#avc : denied { read } for comm=gatekeeperd name=gpsd dev=mmcblk0p18 ino=3478 scontext=u:r:gatekeeperd:s0 tcontext=u:object_r:gpsd_exec:s0 tclass=file permissive=1
allow gatekeeperd gpsd_exec:file { open read getattr };
#avc: denied { write } for comm="gatekeeperd" name="trace_marker" dev="debugfs" ino=305 scontext=u:r:gatekeeperd:s0 tcontext=u:object_r:debugfs:s0 tclass=file permissive=1
#avc: denied { open } for comm="gatekeeperd" name="trace_marker" dev="debugfs" ino=305 scontext=u:r:gatekeeperd:s0 tcontext=u:object_r:debugfs:s0 tclass=file permissive=1
allow gatekeeperd debugfs:file { open write };
