#avc : denied { open } for comm=vendor.lineage. name=trace_marker dev=debugfs ino=305 scontext=u:r:hal_lineage_trust_default:s0 tcontext=u:object_r:debugfs:s0 tclass=file permissive=1
#avc : denied { write } for comm=vendor.lineage. name=trace_marker dev=debugfs ino=305 scontext=u:r:hal_lineage_trust_default:s0 tcontext=u:object_r:debugfs:s0 tclass=file permissive=1
allow hal_lineage_trust_default debugfs:file { open write };
