r_dir_file(hal_wifi_default, wifi_efs_file)

allow hal_wifi_default efs_file:dir search;
allow hal_wifi_default {
    sysfs_wifi_writeable
    wifi_data_file
    debugfs
    system_data_file
    gpsd_exec
    }:file rw_file_perms;
 
