allow hwservicemanager init:dir { search };
allow hwservicemanager {
    init
    gpsd_exec
    }:file { read open getattr };
allow hwservicemanager init:process { getattr };
