# /dev/block/mmcblk0p[0-9]
allow init {
    emmcblk_device
    block_device
    }:blk_file rw_file_perms;

# LD_SHIM_LIBS
allow init {
    mediaserver
    init
    }:process { noatsecure execmem };

allow init {
    debugfs
    efs_file
    persist_file
    }:dir { mounton };

allow init {
    debugfs
    sdcardd_exec
    camera_device
    video_device
    wifi_efs_file
    sysfs
    vendor_file
    system_data_file
    gps_data_file
    system_file
    media_rw_data_file
    su_exec
    sysfs_devices_system_cpu
    shell_exec
    }:file { open read append write execute execute_no_trans setattr getattr relabelto lock };

allow init {
    tee
    }:unix_stream_socket { connectto };

allow init {
    hwservicemanager
    mediadrmserver
    system_server
    }:binder { call transfer };
    
allow init {
    input_method_service
    package_service
    }:service_manager { find };

allow init {
    sysfs_writable
    tmpfs
    }:lnk_file { create read setattr };

allow init {
    device
    vndbinder_device
    sysfs_mdnie_writable
    mif_device
    ion_device
    tee_device
    }:chr_file { open read write ioctl };

allow init {
    hal_power_stats_hwservice
    hal_lineage_livedisplay_hwservice
    hal_light_hwservice
    hal_sensors_hwservice
    hal_ir_hwservice
    hal_power_hwservice
    hal_telephony_hwservice
    hidl_base_hwservice
    hal_drm_hwservice
    hal_gnss_hwservice
    hal_lineage_touch_hwservice
    }:hwservice_manager { add find };

allow init sysfs_sec:lnk_file read;
allow init socket_device:sock_file { create setattr unlink };

allow init {
    secmem_device
    radio_device
    }:chr_file { open read write ioctl };

allow vendor_init {
    camera_data_file
    system_file
    system_lib_file
    bluetooth_data_file
    unlabeled
    apk_data_file
    system_data_file
    anr_data_file
    keystore_data_file
    property_data_file
    tmpfs
    wifi_data_file
    wpa_socket
    dhcp_data_file
    radio_data_file
    rootfs
    vendor_app_file
    gps_data_file
    }:dir { open search write remove_name add_name create setattr rmdir getattr };

allow vendor_init {
    gpsd_exec
    debugfs
    video_device
    proc
    bluetooth_data_file
    wifi_data_file
    system_data_file
    }:file { open write read getattr setattr create };
    
allow vendor_init system_data_file:lnk_file { create unlink };
