#
# All our codecs run in the mediaserver process for now because of
# media.stagefright.less-secure.
# The rules below should be moved to mediacodec.te once this is fixed.
#
# BEGIN

allow mediaserver system_server:unix_stream_socket { read write setopt };

allow mediaserver {
    camera_prop
    system_prop
    }:property_service set;

allow mediaserver {
    camera_data_file
    system_data_file
    system_file
    sysfs_camera
    efs_file
    }:dir { open getattr read search ioctl lock watch watch_reads write add_name remove_name  };

allow mediaserver {
    camera_data_file
    camera_prop
    sysfs_wake_lock
    efs_file
    sysfs
    sysfs_camera
    gpsd_exec
    mediaserver_tmpfs
    system_file
    }:file { rw_file_perms execmod execute };

# Playback DRM protected content
r_dir_file(mediaserver, efs_file)

# /dev/m2m1shot_jpeg
# /dev/s5p-smem
# /efs/wv.keys
allow mediaserver {
    camera_device
    secmem_device
    ion_device
    }:chr_file { rw_file_perms };

# Snap permissions
allow mediaserver sensorservice_service:service_manager { find };
