#avc : denied { getattr } for comm=mediametrics path=/system/vendor/bin/hw/gpsd dev=mmcblk0p18 ino=3478 scontext=u:r:mediametrics:s0 tcontext=u:object_r:gpsd_exec:s0 tclass=file permissive=1
#avc : denied { read } for comm=mediametrics name=gpsd dev=mmcblk0p18 ino=3478 scontext=u:r:mediametrics:s0 tcontext=u:object_r:gpsd_exec:s0 tclass=file permissive=1
allow mediametrics gpsd_exec:file { read getattr };
