#### modemloader
#
type modemloader, domain;
type modemloader_exec, exec_type, file_type;

init_daemon_domain(modemloader)

allow modemloader proc:file r_file_perms;

set_prop(modemloader, modemloader_prop)
allow modemloader system_prop:property_service { set };
set_prop(modemloader, system_prop)
allow modemloader default_prop:property_service { set };
set_prop(modemloader, default_prop)
allow modemloader radio_prop:property_service { set };
set_prop(modemloader, radio_prop)
allow modemloader gpsd_exec:file { getattr read };
