allow netd self:capability sys_module;
allow netd dhcp_data_file:dir setattr;
allow netd wifi_data_file:dir { create setattr };

allow netd wifi_data_file:sock_file { create setattr unlink };
allow netd gpsd_exec:file { read getattr };
allow netd device:file { open write };
allow netd gpsd:fd use;
allow netd gpsd:udp_socket { getopt read setopt write };
allow netd gpsd:tcp_socket { read write getopt setopt };
